.word {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: min-content;

}

.letter {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(150,150,150);
    color: rgb(150,150,150);
    text-align: center;
    margin: 5px;
    font-family: "Menlo";
    font-size: 70px;
    text-transform: uppercase;
}

.words {
    margin: auto;
    flex: 4;
}

.container{
    display: flex;
}

.space {
    flex: 4;
    justify-content: center;
    align-items: center;
}